/Library/
/Assets/DOTween/
/Assets/Resources/
/Assets/*.meta/
/Assets/*.cs.meta/
/Assets/Scenes/*.unity.meta
/Temp/
/obj/
/Packages/
/Logs/
/UserSettings/
/Recordings/
/ProjectSettings/

*.pidb.meta
*.pdb.meta
*.mdb.meta

*.unityproj
*.sln

.vs/
.vsconfig/


*.csproj
*.unitypackage

